.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    padding: 1px;
    background-color: #fafafa;
}

.day {
    padding: 5px 15px 30px 5px;
    font-size: 14px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.other {
    padding: 5px 15px 30px 5px;
    font-size: 14px;
    text-decoration: none;
    color: #888;
    background-color: #fcfcfc;
}